# 1. Load dataset

In [34]:
# Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Delivery_app_group_project

In [2]:
# Displaying at least 50 columns
pd.set_option('display.max_columns',50)

In [35]:
# Load data file
df = pd.read_csv('.//DETALLE ORDENES CANCELADAS_CL.csv')
df1 = pd.read_csv('.//DETALLE ORDENES CANCELADAS_EC.csv')
df2 = pd.read_csv('.//DETALLE ORDENES CANCELADAS_PE.csv')

In [36]:
#Merging the datasets for the three countries Chile, Ecuador and Peru
merged_df = pd.concat([df, df1, df2], axis=0, ignore_index=True)
df = merged_df

It is being upleaded the dataset in 3 batches. each file contains the data of courier orders for the major cities of Perù, Chile and Ecuador

The dataset is composed from the next variables:

COUNTRY: Origin of the order (CL:chile,EC:ecuador,PE:peru)

MZ_NAME: microzone of a city defined by the company where it ,mostly all the time, the store and the user.

DATE_AGG: Date of the order

DIA_NOMBRE: label of the day when the order happened

REPURCHASE: Indicades, whether the order had no trackback (previous order for the same user the cancelled and
order again in about 1 hour)'With repurchase' or  not 'Without repurchase'

ORDER_ID: code of the order


USER_TOTAL_ORDERS: counting of how many orders the user previously did

% COMPLETED: % of the orders that were delivered to the client.

PAYMENT_METHOD: method to pay the order.

GMV_USD: net value of the order

ITEM_COUNT: number of items that compose the market basket

CITY:

BRAND_NAME:

STORE_ID:

LNG:

LAT

T03_PRE_PICKING_TIME: Lead time that is about between the order being set and that the clerk starts to pick up the products.

T04_PICKING_TIME: time that the clerk takes to gather all the items of the order

T05_CASHIER_TIME: Time take by the cahier to generate the bill

T06_REQUESTING_RT_TIME: Time that the clerk takes to ask for a courier to pick up the basket.

T07_WAITING_RT_TIME: interval of time between the requested call for a courier and the arrivel of it.

T08_CHECKOUT_TIME: Time that takes that the courier to put the basket on the vehicle

VEHICLE_TYPE: Type of vehicle thatthe couries has

MALL: Indicates if the the store is located on a shopping mall

SUB_VERTICAL: Classification defined by the company for the store  (Supermarket, pharmacy and so on)

DISTANCE_KM: Distance between the store and the user

TAG_GLOBAL_OFFER: Boolean that indicades if the order had a discount or not.

STOCKOUTS: number of Item (product id?) that were reported to be out of stock in the store.

TAG_BO: Boolean that indicates if the order was labeled as bad order.

TAG_BO_CANCEL: Indicades if the order was cancelled or not.

In [5]:
df.tail()

,COUNTRY,MZ_NAME,DATE_AGG,DIA_NOMBRE,ORDER_ID,USER_TOTAL_ORDERS,% Completed orders user,PAYMENT_METHOD,GMV_USD,ITEM_COUNT,CITY,BRAND_GROUP,LAT,LNG,T04_PICKING_TIME,T05_CASHIER_TIME,T06_REQUESTING_RT_TIME,VEHICLE_TYPE,SUB_VERTICAL,STOCKOUTS,TAG_BO,TAG_CANCEL,DISTANCE_KM,USE_CREDIT,HORA,POLYGON_SIZE,RAPPI_AMOUNT
62377,PE,Microzona Bellavista,2023-07-01 00:00:00,sábado,2160362847,2,100.00 %,cash,3.852632,2.0,Lima,Oxxo,-12.068502,-77.115290,0.0,1.0,0.0,Motorcycle,Express,0,False,False,3.0,NaN,15,6.0,NaN
62378,PE,Jesús Maria - Lince LIM1,2023-07-01 00:00:00,sábado,2160362853,480,98.13 %,cc-DEBIT,7.550000,3.0,Lima,Oxxo,-12.109637,-77.046844,0.0,3.0,0.0,Motorcycle,Express,0,False,False,3.0,NaN,15,8.0,NaN
62379,PE,San Isidro Residencial LIM2,2023-07-01 00:00:00,sábado,2160362870,160,97.50 %,cc-credit,14.089474,1.0,Lima,La Boutique,-12.115765,-77.043421,7.0,0.0,0.0,Bicycle,Regalos,0,True,False,2.0,NaN,15,2.0,NaN
62380,PE,Chacarilla LIM2,2023-07-01 00:00:00,sábado,2160362902,1116,92.38 %,cc-credit,22.402632,3.0,Lima,Mifarma,-12.115089,-76.986207,10.0,6.0,NaN,Motorcycle,Farmacia,0,False,False,1.0,NaN,15,2.0,NaN
62381,PE,Miraflores Oeste LIM3,2023-07-01 00:00:00,sábado,2160362916,248,97.98 %,cc-credit,11.697368,5.0,Lima,Mifarma,-12.115012,-77.045736,5.0,3.0,NaN,Motorcycle,Farmacia,0,False,False,1.0,NaN,15,1.0,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62382 entries, 0 to 62381
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   COUNTRY                  62382 non-null  object
 1   MZ_NAME                  62382 non-null  object
 2   DATE_AGG                 62382 non-null  object
 3   DIA_NOMBRE               62382 non-null  object
 4   ORDER_ID                 62382 non-null  int64
 5   USER_TOTAL_ORDERS        62382 non-null  int64
 6   % Completed orders user  62382 non-null  object
 7   PAYMENT_METHOD           62382 non-null  object
 8   GMV_USD                  62382 non-null  float64
 9   ITEM_COUNT               61984 non-null  float64
 10  CITY                     62382 non-null  object
 11  BRAND_GROUP              62382 non-null  object
 12  LAT                      62380 non-null  float64
 13  LNG                      62380 non-null  float64
 14  T04_PICKING_TIME         51233 non-null  float64
 15  T05_CASHIER_TIME         61191 non-null  float64
 16  T06_REQUESTING_RT_TIME   32124 non-null  float64
 17  VEHICLE_TYPE             61388 non-null  object
 18  SUB_VERTICAL             62382 non-null  object
 19  STOCKOUTS                62382 non-null  int64
 20  TAG_BO                   62382 non-null  bool
 21  TAG_CANCEL               62382 non-null  bool
 22  DISTANCE_KM              62380 non-null  float64
 23  USE_CREDIT               7934 non-null   object
 24  HORA                     62382 non-null  int64
 25  POLYGON_SIZE             62156 non-null  float64
 26  RAPPI_AMOUNT             7934 non-null   float64
dtypes: bool(2), float64(10), int64(4), object(11)
memory usage: 12.0+ MB

In [7]:
df.isnull().sum()

COUNTRY                        0
MZ_NAME                        0
DATE_AGG                       0
DIA_NOMBRE                     0
ORDER_ID                       0
USER_TOTAL_ORDERS              0
% Completed orders user        0
PAYMENT_METHOD                 0
GMV_USD                        0
ITEM_COUNT                   398
CITY                           0
BRAND_GROUP                    0
LAT                            2
LNG                            2
T04_PICKING_TIME           11149
T05_CASHIER_TIME            1191
T06_REQUESTING_RT_TIME     30258
VEHICLE_TYPE                 994
SUB_VERTICAL                   0
STOCKOUTS                      0
TAG_BO                         0
TAG_CANCEL                     0
DISTANCE_KM                    2
USE_CREDIT                 54448
HORA                           0
POLYGON_SIZE                 226
RAPPI_AMOUNT               54448
dtype: int64

In [8]:
df.describe()

,ORDER_ID,USER_TOTAL_ORDERS,GMV_USD,ITEM_COUNT,LAT,LNG,T04_PICKING_TIME,T05_CASHIER_TIME,T06_REQUESTING_RT_TIME,STOCKOUTS,DISTANCE_KM,HORA,POLYGON_SIZE,RAPPI_AMOUNT
count,6.238200e+04,62382.000000,62382.000000,61984.000000,62380.000000,62380.000000,51233.000000,61191.000000,32124.000000,62382.000000,62380.000000,62382.000000,62156.000000,7934.000000
mean,1.077458e+09,273.620564,25.612108,3.544786,-20.217390,-74.750681,8.044307,5.917324,0.239727,0.152095,2.690382,14.919913,4.814419,1234.730590
std,1.042297e+09,367.446864,26.668228,4.705169,11.763042,5.262204,40.483761,72.840315,6.635082,0.626426,1.496454,4.882335,2.678620,3155.284928
min,1.231984e+07,1.000000,0.000000,1.000000,-100.561920,-307.749219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,8.846479e+07,28.000000,10.630000,1.000000,-33.419941,-77.041960,0.000000,0.000000,0.000000,0.000000,2.000000,12.000000,3.000000,12.000000
50%,8.859747e+07,138.000000,18.607895,2.000000,-12.128821,-76.978935,3.000000,1.000000,0.000000,0.000000,2.000000,15.000000,4.000000,14.950000
75%,2.160126e+09,386.000000,31.481481,4.000000,-12.084495,-70.595236,9.000000,4.000000,0.000000,0.000000,4.000000,19.000000,7.000000,32.000000
max,2.160363e+09,4274.000000,1230.214938,131.000000,-2.013953,-70.478749,5940.000000,14187.000000,1151.000000,38.000000,16.000000,88.000000,32.000000,57340.000000

# 2. Exploratory Data Analysis (EDA) (univariate / bivariate analysis)

# Translation of the dataset from Spanish to English

 + DIA_NOMBRE: Keep the name of the days when the order was

In [37]:
# Checking unique values
df['DIA_NOMBRE'].unique()

array(['viernes', 'martes', 'miércoles', 'lunes', 'jueves', 'sábado',
       'domingo'], dtype=object)

In [38]:
# Translating the Spanish values
trans = {'sábado': 'Saturday', 'lunes':'Monday', 'jueves':'Thursday', 'martes':'Tuesday', 'viernes':'Friday', 'miércoles':'Wednesday',
       'domingo':'Sunday'}
df['DIA_NOMBRE'] = df['DIA_NOMBRE'].map(trans)

In [39]:
# Lower case of the columns
df.columns = df.columns.str.lower()

In [40]:
# Checking the values
df['sub_vertical'].unique()

array(['Licores', 'Floristeria', 'Super', 'Express', 'Hogar',
       'Bebes y niños', 'Tecnologia', 'Mascotas', 'Sex shop', 'Deportes',
       'Farmacia', 'Belleza', 'Especializada', 'Smoking shop', 'Regalos',
       'Libreria', 'Moda', 'Papeleria', 'TurboX', 'Jugueteria', 'Marcas'],
      dtype=object)

The variable 'SUB_VERTICAL' contains the business sector to which is related the store. In this case, the labels are translated and compacted in fewer classes.

In [41]:
# Translating the Spanish values
trans1 = {'SuperMarkets' : 'Supermarket', 'Floristeria':'E-commerce', 'Express':'Convenient Store', 'Especializada': 'Special Convenient Store', 'Moda':'E-commerce',
       'Libreria':'E-commerce', 'Tecnologia':'E-commerce', 'Hogar':'E-commerce', 'Farmacia':'Pharmacie', 'Mascotas':'Pet Shop',
       'Smoking shop':'E-commerce', 'Belleza':'E-commerce', 'Regalos':'E-commerce', 'Licores':'Licours Shop', 'Deportes':'E-commerce',
       'Bebes y niños':'E-commerce', 'Jugueteria':'E-commerce', 'Sex shop':'E-commerce', 'TurboX':'E-commerce', 'Papeleria':'E-commerce',
       'Outlet':'E-commerce'}
df['sub_vertical'] = df['sub_vertical'].map(trans1)

In [42]:
df = df.rename(columns={'sub_vertical':'store_category','mz_name':'district_name','date_agg':'date','dia_nombre':'weekday','gmv_usd':'order_value_usd','stockouts':'out_of_stock','tag_bo':'order_wrong','tag_bo_cancel':'order_canceled' })

In [11]:
df.head()

,country,district_name,date,weekday,order_id,user_total_orders,% completed orders user,payment_method,order_value_usd,item_count,city,brand_group,lat,lng,t04_picking_time,t05_cashier_time,t06_requesting_rt_time,vehicle_type,store_category,out_of_stock,order_wrong,tag_cancel,distance_km,use_credit,hora,polygon_size,rappi_amount
0,CL,Campus Oriente SCL4,2023-06-30 00:00:00,Friday,88222630,111,95.50 %,rappi_pay_gateway,25.407407,2.0,Santiago de Chile,Botillería Echenique,-33.433491,-70.581792,NaN,14187.0,NaN,Bicycle,Licours Shop,0,False,False,2.0,NaN,23,NaN,NaN
1,CL,23 Senador Jaime Guzman,2023-06-27 00:00:00,Tuesday,88256140,4,50.00 %,cc-N/A,43.049383,1.0,Santiago de Chile,SOLOROSASYALGOMAS,-33.403637,-70.657823,2.0,0.0,NaN,Motorcycle,E-commerce,0,True,True,3.0,NaN,0,NaN,NaN
2,CL,Las Condes Poniente SCL3,2023-06-27 00:00:00,Tuesday,88287753,208,99.04 %,cc-credit,119.438889,11.0,Santiago de Chile,Jumbo,-33.402225,-70.598952,8.0,12.0,1.0,Motorcycle,NaN,0,False,False,4.0,NaN,12,NaN,NaN
3,CL,20 Pedro Fontova,2023-06-27 00:00:00,Tuesday,88290753,405,95.31 %,cc-N/A,13.061728,1.0,Santiago de Chile,Lider,-33.380700,-70.686793,NaN,0.0,NaN,NaN,NaN,0,True,True,2.0,NaN,13,NaN,NaN
4,CL,Campus Oriente SCL4,2023-06-27 00:00:00,Tuesday,88291146,455,96.92 %,cc-N/A,36.740741,3.0,Santiago de Chile,Jardineria teresa jacqueline huenun espinoza,-33.449619,-70.635816,NaN,0.0,NaN,Motorcycle,E-commerce,0,True,True,4.0,NaN,13,NaN,NaN

In [43]:
df=df.rename(columns={'order_value_usd':'order_value','brand_group':'partner','t04_picking_time':'picking_time','t05_cashier_time':'cashier_time','t06_requesting_rt_time':'requesting_transport_time','rappi_amount':'cashback'})

In [13]:
df.head()

,country,district_name,date,weekday,order_id,user_total_orders,% completed orders user,payment_method,order_value,item_count,city,partner,lat,lng,picking_time,cashier_time,requesting_transport_time,vehicle_type,store_category,out_of_stock,order_wrong,tag_cancel,distance_km,use_credit,hora,polygon_size,cashback
0,CL,Campus Oriente SCL4,2023-06-30 00:00:00,Friday,88222630,111,95.50 %,rappi_pay_gateway,25.407407,2.0,Santiago de Chile,Botillería Echenique,-33.433491,-70.581792,NaN,14187.0,NaN,Bicycle,Licours Shop,0,False,False,2.0,NaN,23,NaN,NaN
1,CL,23 Senador Jaime Guzman,2023-06-27 00:00:00,Tuesday,88256140,4,50.00 %,cc-N/A,43.049383,1.0,Santiago de Chile,SOLOROSASYALGOMAS,-33.403637,-70.657823,2.0,0.0,NaN,Motorcycle,E-commerce,0,True,True,3.0,NaN,0,NaN,NaN
2,CL,Las Condes Poniente SCL3,2023-06-27 00:00:00,Tuesday,88287753,208,99.04 %,cc-credit,119.438889,11.0,Santiago de Chile,Jumbo,-33.402225,-70.598952,8.0,12.0,1.0,Motorcycle,NaN,0,False,False,4.0,NaN,12,NaN,NaN
3,CL,20 Pedro Fontova,2023-06-27 00:00:00,Tuesday,88290753,405,95.31 %,cc-N/A,13.061728,1.0,Santiago de Chile,Lider,-33.380700,-70.686793,NaN,0.0,NaN,NaN,NaN,0,True,True,2.0,NaN,13,NaN,NaN
4,CL,Campus Oriente SCL4,2023-06-27 00:00:00,Tuesday,88291146,455,96.92 %,cc-N/A,36.740741,3.0,Santiago de Chile,Jardineria teresa jacqueline huenun espinoza,-33.449619,-70.635816,NaN,0.0,NaN,Motorcycle,E-commerce,0,True,True,4.0,NaN,13,NaN,NaN

In [44]:
df['city'].replace({'Santiago de Chile': 'Maule', 'Lima': 'Xauxa', 'Guayaquil': 'Ingapirca'}, inplace=True)

In [45]:
df['payment_method'].unique()

array(['rappi_pay_gateway', 'cc-N/A', 'cc-credit', 'cash', 'cc-DEBIT',
       'cc-CHARGE CARD', 'paypal', 'apple_pay', 'rappi_pay',
       'rappi_pay_gateway_wallet'], dtype=object)

In [46]:
df['payment_method'].replace({'rappi_pay_gateway': 'revol_pay', 'rappi_pay_gateway_wallet': 'revol_pay', 'rappi_pay': 'revol_pay'}, inplace=True)

In [24]:
df['country'].unique()

array(['CL', 'EC', 'PE'], dtype=object)

In [47]:
df['country'].replace({'CL': 'Llaqta_1', 'EC': 'Llaqta_2', 'PE': 'Llaqta_3'}, inplace=True)

In [48]:
filtered_district_names = df.loc[df['country'] == 'Llaqta_1', 'district_name'].unique()
filtered_district_names

array(['Campus Oriente SCL4', '23 Senador Jaime Guzman',
       'Las Condes Poniente SCL3', '20 Pedro Fontova',
       'Jardin de la Dehesa SCL2', 'Providencia SCL4',
       'Parque Quinta Normal SCL1', 'Movistar Arena SCL5',
       'Estadio nacional SCL5', 'La Reina Alta SCL4',
       'Penalolen Alto SCL4', 'El Parrón', 'La Moneda SCL1',
       'Los Dominicos SCL3', ' Estadio Bicentenario SCL7',
       'La Dehesa Norte SCL2', 'Mall Tobalaba', 'Barrio Italia SCL4',
       'Santa Maria de Manquehue SCL2', 'Santuario Maipú',
       'Vina Cousino Macul', 'Mall plaza sur', 'Recoleta SCL1',
       'San Carlos de Apoquindo SCL2', 'Florida Center SCL7',
       '1 Arauco Maipu', 'La Castrina', '16 El Peral', 'Barrio Holanda',
       '18 Zapadores', 'Plaza Viva', 'Pudahuel Sur', '24 El Cortijo',
       'Chicureo', '19 El Guanaco', 'Quilicura', 'El abrazo',
       '5 El Rosal', 'El bosque 1', 'Plaza Oeste',
       'Municipalidad Pudahuel', 'Hacienda', 'san bernardo centro',
       'Colina mz', 'Plaza Puente Alto', 'Los Nogales SCL6',
       'Sotero del Río', 'Chamisero', 'Padahuel', 'Industrial maipu',
       'Lo arcaya'], dtype=object)

In [49]:
df['district_name'].replace({
'Campus Oriente SCL4':'MA_1', 
'23 Senador Jaime Guzman':'MA_2',
'Las Condes Poniente SCL3':'MA_3', 
'20 Pedro Fontova':'MA_4',
'Jardin de la Dehesa SCL2':'MA_5',
'Providencia SCL4':'MA_6',
'Parque Quinta Normal SCL1':'MA_7', 
'Movistar Arena SCL5':'MA_8',
'Estadio nacional SCL5':'MA_9', 
'La Reina Alta SCL4':'MA_10',
'Penalolen Alto SCL4':'MA_11', 
'El Parrón':'MA_12', 
'La Moneda SCL1':'MA_13',
'Los Dominicos SCL3':'MA_14', 
' Estadio Bicentenario SCL7':'MA_15',
'La Dehesa Norte SCL2':'MA_16',
'Mall Tobalaba':'MA_17',
 'Barrio Italia SCL4':'MA_18',
'Santa Maria de Manquehue SCL2':'MA_19', 
'Santuario Maipú':'MA_20',
'Vina Cousino Macul':'MA_21', 
'Mall plaza sur':'MA_22',
 'Recoleta SCL1':'MA_23',
'San Carlos de Apoquindo SCL2':'MA_24', 
'Florida Center SCL7':'MA_25',
'1 Arauco Maipu':'MA_26', 
'La Castrina':'MA_27',
 '16 El Peral':'MA_28', 
 'Barrio Holanda':'MA_29',
'18 Zapadores':'MA_30',
 'Plaza Viva':'MA_31',
  'Pudahuel Sur':'MA_32',
   '24 El Cortijo':'MA_33',
'Chicureo':'MA_34', 
'19 El Guanaco':'MA_35',
 'Quilicura':'MA_36',
  'El abrazo':'MA_37',
'5 El Rosal':'MA_38',
 'El bosque 1':'MA_39',
  'Plaza Oeste':'MA_40',
'Municipalidad Pudahuel':'MA_41',
 'Hacienda':'MA_42',
  'san bernardo centro':'MA_43',
'Colina mz':'MA_44',
 'Plaza Puente Alto':'MA_45',
  'Los Nogales SCL6':'MA_46',
'Sotero del Río':'MA_47',
 'Chamisero':'MA_48',
  'Padahuel':'MA_49',
   'Industrial maipu':'MA_50',
 'Lo arcaya':'MA_51'}, inplace=True)

In [50]:
filtered_district_names = df.loc[df['country'] == 'Llaqta_2', 'district_name'].unique()
filtered_district_names

array(['Vía la Costa', 'Extension Duran', 'URDESA', 'ALBORADA',
       'Sur de Guayaquil', 'Extensión Mucho lote 1', 'LA BAHIA',
       'Parque California', 'KENNEDY', 'El Dorado', 'Samborondon Sur',
       'extensión suburbio', 'Samborondon Norte', 'Joya Autopista',
       'extensión guasmo'], dtype=object)

In [32]:
df.head()

,country,district_name,date,weekday,order_id,user_total_orders,% completed orders user,payment_method,order_value,item_count,city,partner,lat,lng,picking_time,cashier_time,requesting_transport_time,vehicle_type,store_category,out_of_stock,order_wrong,tag_cancel,distance_km,use_credit,hora,polygon_size,cashback
0,Llaqta_1,Campus Oriente SCL4,2023-06-30 00:00:00,Friday,88222630,111,95.50 %,revol_pay,25.407407,2.0,Maule,Botillería Echenique,-33.433491,-70.581792,NaN,14187.0,NaN,Bicycle,Licours Shop,0,False,False,2.0,NaN,23,NaN,NaN
1,Llaqta_1,23 Senador Jaime Guzman,2023-06-27 00:00:00,Tuesday,88256140,4,50.00 %,cc-N/A,43.049383,1.0,Maule,SOLOROSASYALGOMAS,-33.403637,-70.657823,2.0,0.0,NaN,Motorcycle,E-commerce,0,True,True,3.0,NaN,0,NaN,NaN
2,Llaqta_1,Las Condes Poniente SCL3,2023-06-27 00:00:00,Tuesday,88287753,208,99.04 %,cc-credit,119.438889,11.0,Maule,Jumbo,-33.402225,-70.598952,8.0,12.0,1.0,Motorcycle,NaN,0,False,False,4.0,NaN,12,NaN,NaN
3,Llaqta_1,20 Pedro Fontova,2023-06-27 00:00:00,Tuesday,88290753,405,95.31 %,cc-N/A,13.061728,1.0,Maule,Lider,-33.380700,-70.686793,NaN,0.0,NaN,NaN,NaN,0,True,True,2.0,NaN,13,NaN,NaN
4,Llaqta_1,Campus Oriente SCL4,2023-06-27 00:00:00,Tuesday,88291146,455,96.92 %,cc-N/A,36.740741,3.0,Maule,Jardineria teresa jacqueline huenun espinoza,-33.449619,-70.635816,NaN,0.0,NaN,Motorcycle,E-commerce,0,True,True,4.0,NaN,13,NaN,NaN

In [51]:
df['district_name'].replace({
'Vía la Costa':'IN_1', 
'Extension Duran':'IN_2',
 'URDESA':'IN_3',
  'ALBORADA':'IN_4',
'Sur de Guayaquil':'IN_5', 
'Extensión Mucho lote 1':'IN_6',
 'LA BAHIA':'IN_7',
'Parque California':'IN_8', 
'KENNEDY':'IN_9',
 'El Dorado':'IN_10',
  'Samborondon Sur':'IN_11',
'extensión suburbio':'IN_12',
 'Samborondon Norte':'IN_13',
  'Joya Autopista':'IN_14',
'extensión guasmo':'IN_15'}, inplace=True)

In [52]:
filtered_district_names = df.loc[df['country'] == 'Llaqta_3', 'district_name'].unique()
filtered_district_names

array(['Zona Empresarial (San Isidro Corpac) LIM2',
       'San Isidro Residencial\xa0LIM2', 'Miraflores Oeste\xa0LIM3',
       'Comas', 'Cono Norte norte', 'San Borja LIM2', 'Chacarilla LIM2',
       'Centro de Lima - Breña LIM4', 'Surquillo LIM2',
       'Pueblo Libre LIM1', 'Jesús Maria - Lince LIM1',
       'Miraflores Este LIM2', 'Molina Centro\xa0LIM4',
       'Monterrico y Casuarinas LIM2', 'Surco Sur LIM3', 'Ate LIM4',
       'Molina Sur LIM4', 'San Luis LIM2', 'San Miguel - Magdalena LIM1',
       'Microzona Bellavista', 'Lima 1 sin h',
       'Breña Hospital Loayza LIM4', 'Centros comerciales',
       'Camacho y Monterrico Norte LIM4', 'Barranco LIM3',
       'Santa Catalina LIM2', 'Surco Viejo\xa0LIM3', 'El Carmen',
       'Chorrillos Sur LIM4', 'Chorrillos Villa norte', 'Cerro La regla',
       'Santa Anita LIM4', 'San Miguel Maranga LIM1', 'Cono Norte Oeste',
       'San Juan de Lurigancho', 'San Juan Miraflores', 'Plaza de Acho',
       'San Juan de Miraflores LIM3', 'Zona Negra Surco Viejo LIM3',
       'La Florida', 'Lucyana', 'Puruchuco', 'Los Geranios', 'Callao',
       'Chorrillos LIM3', 'San Juan de Lurigancho Centro',
       'Zona Negra La Victoria LIM4', 'Ate Centro', 'Tres Regiones',
       'Ventanilla Alta', 'Mateo Pamacahua', 'Molina Oeste',
       'San Gabriel Alto', 'Rosa Luz'], dtype=object)

In [53]:
df['district_name'].replace({
'Zona Empresarial (San Isidro Corpac) LIM2':'XA_1',
'San Isidro Residencial\xa0LIM2':'XA_2', 
'Miraflores Oeste\xa0LIM3':'XA_3',
'Comas':'XA_4',
'Cono Norte norte':'XA_5',
'San Borja LIM2':'XA_6',
'Chacarilla LIM2':'XA_7',
'Centro de Lima - Breña LIM4':'XA_8',
'Surquillo LIM2':'XA_9',
'Pueblo Libre LIM1':'XA_10',
'Jesús Maria - Lince LIM1':'XA_11',
'Miraflores Este LIM2':'XA_12',
'Molina Centro\xa0LIM4':'XA_13',
'Monterrico y Casuarinas LIM2':'XA_14',
'Surco Sur LIM3':'XA_15',
'Ate LIM4':'XA_16',
'Molina Sur LIM4':'XA_17',
'San Luis LIM2':'XA_18',
'San Miguel - Magdalena LIM1':'XA_19',
'Microzona Bellavista':'XA_20',
'Lima 1 sin h':'XA_21',
'Breña Hospital Loayza LIM4':'XA_22',
'Centros comerciales':'XA_23',
'Camacho y Monterrico Norte LIM4':'XA_24',
'Barranco LIM3':'XA_25',
'Santa Catalina LIM2':'XA_26',
'Surco Viejo\xa0LIM3':'XA_27',
'El Carmen':'XA_28',
'Chorrillos Sur LIM4':'XA_29',
'Chorrillos Villa norte':'XA_30',
'Cerro La regla':'XA_31',
'Santa Anita LIM4':'XA_32', 
'San Miguel Maranga LIM1':'XA_33',
'Cono Norte Oeste':'XA_34',
'San Juan de Lurigancho':'XA_35',
'San Juan Miraflores':'XA_36',
'Plaza de Acho':'XA_37',
'San Juan de Miraflores LIM3':'XA_38',
'Zona Negra Surco Viejo LIM3':'XA_39',
'La Florida':'XA_40',
'Lucyana':'XA_41',
 'Puruchuco':'XA_42',
  'Los Geranios':'XA_43',
   'Callao':'XA_44',
'Chorrillos LIM3':'XA_45',
'San Juan de Lurigancho Centro':'XA_46',
'Zona Negra La Victoria LIM4':'XA_47',
 'Ate Centro':'XA_48',
  'Tres Regiones':'XA_49',
'Ventanilla Alta':'XA_50',
 'Mateo Pamacahua':'XA_51',
  'Molina Oeste':'XA_52',
'San Gabriel Alto':'XA_53',
 'Rosa Luz':'XA_54'}, inplace=True)

In [54]:
df.loc[df['country'] == 'Llaqta_2', 'partner'].unique()

array(['Mi Comisariato MT', 'Listo', 'Amor Animal MT', 'Mi Jugueteria',
       'Rio Store', 'Pet Center', 'Tecno Riedi MT', 'PETSGO', 'Maninaec',
       'Russe', 'Computron', 'City Pet', 'DIPASO', 'Santa Maria',
       'Papoches Pet', 'Turbo X', 'Dmujeres Beauty Market', 'Medicity',
       'Importadora Tecnotrade', 'COMPANIA LIMITADA FAMEDIC',
       'Farmacias 911', 'Kywi', 'Mini', 'Super Paco', 'Pharmacys',
       'SUPER EASY', 'Fernandez', 'Bebemundo', 'PetPro',
       'DogTown Organic', 'PRIME NUTRITION EC', 'Juan Marcet', 'ANCISA',
       'Vapeo Ec', 'Ferrisariato EC', 'FERCHOS COMPUTER BOYACA',
       'La Santa Paloma', 'Violeta Flower Shop', 'Va & Ven',
       'Completo XpressMarket', 'PopLife', 'Taylor sky flowers', 'DIZZY',
       'Novicompu', 'Happy Food', 'Miniso', 'Distribuidora Mary Tech',
       'Funky Fish', 'Pinto', 'MiniMondo', 'La Taberna',
       'Floreria Los Helechos', 'Mini Market Cabutos', 'Laguarda',
       'TVC Disposables', 'Calavera Vapes', 'Oki Doki',
       'DEDSA TIENDA TECNOLOGICA', 'LA LICORERIA', 'El Bodegón',
       'AlgoTranqui', 'ElectroSpot', 'Esvelts Sa', 'EL FARAON MARKET',
       'Roland', 'Nutri Nicky', 'La Bodeguita', 'Ashley_makeup',
       'Valença Drinks Ec', 'Despensa Dominguito', 'Las fragancias',
       'HACIENDA SUIZA', 'Esteelart', 'PetBox', 'Tijerita', 'MeCompras',
       'Impalcasa', 'RedFarmacy', 'ECUAVAPES', 'Shark', 'Luna Flowers',
       'Puff Ec', 'Guimsa', 'Vapor Cigarrillos Electrónicos',
       'WINEGIFTSSA', 'INTCOM SAS', 'Multiarticulos Import', 'PymesTIC',
       'Vice Store', 'Alcoholizados Express EC', 'El Duende Smoke Shop',
       'La Carniceria Market', 'Florería Fantasías En Flores', 'Maxitec',
       'Happy Flower'], dtype=object)

In [55]:
df.drop(['order_id','lat','lng'], axis= 1,inplace= True)

In [56]:
df.head()

,country,district_name,date,weekday,user_total_orders,% completed orders user,payment_method,order_value,item_count,city,partner,picking_time,cashier_time,requesting_transport_time,vehicle_type,store_category,out_of_stock,order_wrong,tag_cancel,distance_km,use_credit,hora,polygon_size,cashback
0,Llaqta_1,MA_1,2023-06-30 00:00:00,Friday,111,95.50 %,revol_pay,25.407407,2.0,Maule,Botillería Echenique,NaN,14187.0,NaN,Bicycle,Licours Shop,0,False,False,2.0,NaN,23,NaN,NaN
1,Llaqta_1,MA_2,2023-06-27 00:00:00,Tuesday,4,50.00 %,cc-N/A,43.049383,1.0,Maule,SOLOROSASYALGOMAS,2.0,0.0,NaN,Motorcycle,E-commerce,0,True,True,3.0,NaN,0,NaN,NaN
2,Llaqta_1,MA_3,2023-06-27 00:00:00,Tuesday,208,99.04 %,cc-credit,119.438889,11.0,Maule,Jumbo,8.0,12.0,1.0,Motorcycle,NaN,0,False,False,4.0,NaN,12,NaN,NaN
3,Llaqta_1,MA_4,2023-06-27 00:00:00,Tuesday,405,95.31 %,cc-N/A,13.061728,1.0,Maule,Lider,NaN,0.0,NaN,NaN,NaN,0,True,True,2.0,NaN,13,NaN,NaN
4,Llaqta_1,MA_1,2023-06-27 00:00:00,Tuesday,455,96.92 %,cc-N/A,36.740741,3.0,Maule,Jardineria teresa jacqueline huenun espinoza,NaN,0.0,NaN,Motorcycle,E-commerce,0,True,True,4.0,NaN,13,NaN,NaN

In [58]:
df.to_csv('.//ml_dlv_1'+'.csv',index=False)

The variables ORDER_ID and DATE are being dropped since these data  is most useful in traceability than predictibility

In [ ]:
#Dropping unecessary columns
df.drop(['date'], axis= 1,inplace= True)

# DELIVERY APP

## Preview

The data checked present a lot of variables with blank data. The next strategies are going to be implemented on the data:

+ Imputing the mean or mode value for the blank values: For the variables  'STORE_CATEGORY','VEHICLE_TYPE' Since, in this categories,the is an actual probability that the values are related to the median or mode.
+ Drop rows of the null values: 'LAT','LNG','POLYGON_SIZE'. The number of rows are low and can be dropped.
+ Put the fixed value 'FALSE' in 'USE_CREDIT': Since this is a boolean variable, and the blanks values mean False
+ Put the fixed value of 0: For the variables T04,T05,T06, and rappi_amount because these variabkes are time variables and currency, in which if they don't have value means that for that field, it doesn't apply the variable.
+ Finally, the variable % completed orders is in varchar and is going to be changed to decimal value

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# @hidden_cell
delivery = pd.read_csv('.//ml_dlv_1.csv')

| Field | Concept |
|------|------|
| country  | There are going to three countries in the dataset |
|district_name|Name of the village in the city|
|date|day when the order was commanded|
|weekday|name of the day when the order was commanded|
|user_total_orders|number of previous orders that the client had ordered before|
|completed orders user|Percentage of the orders that actually were well delivered to the client|
|payment_method|Defines the way in which the client pays for the order|
|order_value|value of the order|
|item_count|number of elements that the basket of the order have|
|city|location of the order|
|partner|Store or brand that provided the items requested by the client|
|picking_time|Lead  time that the clerk takes to gather all the items of the order. |
|cashier_time|Time take by the cashier to generate the bill|
|requesting_transport_time|Time that the clerk takes to ask for a courier to pick up the basket.|
|vehicle_type|Type of vehicle that the courier have|
|store_category|Macro classification of the partner|
|out_of_stock|Number of elements that were reported to be out of stock in the store.|
|order_wrong|Indicades if the order was sucessfully delivered or not|
|tag_cancel|Indicades if the order was cancelled or not.|
|distance_km|Total number of km that the delivery had from the partner to the client|
|use_credit|Indicades if the order was payed with some promotion code|
|hora|Have the hour in which the order was issued|
|polygon_size|Defines the km of coverage of the partner|
|cashback|Provides the total amount of promotion code value in possess of the client|

In [3]:
delivery.head(3)

,country,district_name,date,weekday,user_total_orders,% completed orders user,payment_method,order_value,item_count,city,...,vehicle_type,store_category,out_of_stock,order_wrong,tag_cancel,distance_km,use_credit,hora,polygon_size,cashback
0,Llaqta_1,MA_1,2023-06-30 00:00:00,Friday,111,95.50 %,revol_pay,25.407407,2.0,Maule,...,Bicycle,Licours Shop,0,False,False,2.0,NaN,23,NaN,NaN
1,Llaqta_1,MA_2,2023-06-27 00:00:00,Tuesday,4,50.00 %,cc-N/A,43.049383,1.0,Maule,...,Motorcycle,E-commerce,0,True,True,3.0,NaN,0,NaN,NaN
2,Llaqta_1,MA_3,2023-06-27 00:00:00,Tuesday,208,99.04 %,cc-credit,119.438889,11.0,Maule,...,Motorcycle,NaN,0,False,False,4.0,NaN,12,NaN,NaN

In [19]:
# Checking null values
df.isnull().sum()

country                          0
district_name                    0
weekday                          0
order_id                         0
user_total_orders                0
% completed orders user          0
payment_method                   0
order_value                      0
item_count                     398
city                             0
partner                          0
lat                              2
lng                              2
picking_time                 11149
cashier_time                  1191
requesting_transport_time    30258
vehicle_type                   994
store_category               18125
out_of_stock                     0
order_wrong                      0
tag_cancel                       0
distance_km                      2
use_credit                   54448
hora                             0
polygon_size                   226
cashback                     54448
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62382 entries, 0 to 62381
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country                    62382 non-null  object
 1   district_name              62382 non-null  object
 2   weekday                    62382 non-null  object
 3   order_id                   62382 non-null  int64
 4   user_total_orders          62382 non-null  int64
 5   % completed orders user    62382 non-null  object
 6   payment_method             62382 non-null  object
 7   order_value                62382 non-null  float64
 8   item_count                 61984 non-null  float64
 9   city                       62382 non-null  object
 10  partner                    62382 non-null  object
 11  lat                        62380 non-null  float64
 12  lng                        62380 non-null  float64
 13  picking_time               51233 non-null  float64
 14  cashier_time               61191 non-null  float64
 15  requesting_transport_time  32124 non-null  float64
 16  vehicle_type               61388 non-null  object
 17  store_category             44257 non-null  object
 18  out_of_stock               62382 non-null  int64
 19  order_wrong                62382 non-null  bool
 20  tag_cancel                 62382 non-null  bool
 21  distance_km                62380 non-null  float64
 22  use_credit                 7934 non-null   object
 23  hora                       62382 non-null  int64
 24  polygon_size               62156 non-null  float64
 25  cashback                   7934 non-null   float64
dtypes: bool(2), float64(10), int64(4), object(10)
memory usage: 11.5+ MB

In [21]:
df[['vehicle_type', 'store_category', 'distance_km', 'out_of_stock']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62382 entries, 0 to 62381
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   vehicle_type    61388 non-null  object
 1   store_category  44257 non-null  object
 2   distance_km     62380 non-null  float64
 3   out_of_stock    62382 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.9+ MB

In [22]:
# Removing % label
df['% completed orders user']=df['% completed orders user'].str.replace('%',' ')

df['% completed orders user']=df['% completed orders user'].astype('float')
df['% completed orders user']=df['% completed orders user']/100

In [23]:
df[['% completed orders user']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62382 entries, 0 to 62381
Data columns (total 1 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   % completed orders user  62382 non-null  float64
dtypes: float64(1)
memory usage: 487.5 KB

In [24]:
# Remove missing values
df.dropna(subset=['lat','lng','vehicle_type'],inplace=True)

In [25]:
#Imputing values of mode and mean for the variables

mode_ps = df['polygon_size'].mode()[0]
df['polygon_size'].fillna(mode_ps, inplace=True)

In [26]:
mean_ic = df['item_count'].mean()
df['item_count'].fillna(mean_ic, inplace=True)

In [27]:
mode_sc = df['store_category'].mode()[0]
df['store_category'].fillna(mode_sc, inplace=True)

In [28]:
# Replace missing values
df.fillna({'t04_picking_time': 0, 't05_cashier_time': 0, 't06_requesting_rt_time':0, 'rappi_amount':0}, inplace=True)

In [29]:
# Replace missing values
df.fillna({'use_credit': False},inplace=True)

In [30]:
#$0 could be relate to bad order
zero_count = (df['order_value_usd'] == 0).sum()
print(zero_count)

KeyError: 'order_value_usd'

In [ ]:
# Check duplicate values
dup_value = df.duplicated().sum()
print(dup_value)

In [ ]:

df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
# Removing negative values
negative_cols = ['user_total_orders', 'item_count', 't04_picking_time', 't05_cashier_time', 't06_requesting_rt_time',
                 'out_of_stock', 'distance_km', 'hora', 'polygon_size', 'rappi_amount']

# Create a mask that identifies rows with any negative value in the specified columns
negative_mask = df[negative_cols].lt(0).any(axis=1)

# Use the mask to filter out rows with negative values
df1 = df[~negative_mask]

In [ ]:
# Separating quantiative & Categorical variables
df_cat = df.select_dtypes(include=['object','bool'])
df_quan = df.select_dtypes(exclude=['object','bool'])

In [ ]:
# Create a heatmap
plt.figure(figsize=(10, 8))
df_quan_corr = df_quan.corr(method = 'spearman' )
ax = sns.heatmap(df_quan_corr, annot=True, cmap='coolwarm', center=0,fmt='.2g',xticklabels='auto', yticklabels='auto',linewidth=.8,cbar_kws={"shrink": .8})
ax.tick_params(axis='both', which='both', labelsize=8)
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
# Create a pairplot
sns.pairplot(df_quan)

In [ ]:
for col in df_quan.columns:
    fig, ax = plt.subplots(1, 2, figsize=(10, 4))

    # Histogram
    sns.histplot(df_quan[col], kde=True, bins=20, ax=ax[0])
    ax[0].set_title(f'Histogram for {col}')
    ax[0].set_xlabel(col)
    ax[0].set_ylabel('Frequency')

    # Box plot
    sns.boxplot(x=df_quan[col], ax=ax[1])
    ax[1].set_title(f'Boxplot for {col}')
    ax[1].set_xlabel(col)

    plt.tight_layout()
    plt.show()

In [ ]:
df_quan.columns

In [ ]:
#Removing outliers for : % completed orders user, picking_time, cashier_time, t_06, polygon size, rapi_amount
columns = ['t04_picking_time', 't05_cashier_time',
           't06_requesting_rt_time', 'polygon_size', 'rappi_amount']

Q1 = df[columns].quantile(0.25)
Q3 = df[columns].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = pd.DataFrame()
for col in columns:
    condition = (df[col] < lower_bound[col]) | (df[col] > upper_bound[col])
    outliers = pd.concat([outliers, df[condition]], ignore_index=True)

In [ ]:
#chi_squared for categorical
from scipy.stats import chi2_contingency

chi_squared_results = pd.DataFrame(columns=['Variable 1', 'Variable 2', 'Chi-Squared', 'P-Value'])

for var1 in df_cat:
    for var2 in df_cat:
        if var1 != var2:
          #if var2 =='bad_order':
            contingency_table = pd.crosstab(df[var1], df[var2])

            chi2, p, _, _ = chi2_contingency(contingency_table)


            new_row = pd.DataFrame({'Variable 1': [var1], 'Variable 2': [var2], 'Chi-Squared': [chi2], 'P-Value': [p]})

            chi_squared_results = pd.concat([chi_squared_results, new_row], ignore_index=True)

chi_squared_results

In [ ]:
#Checking for independance between our outcome bad_order and the categorical variables

In [ ]:
#chi_squared for categorical
from scipy.stats import chi2_contingency

chi_squared_results = pd.DataFrame(columns=['Variable', 'Chi-Squared', 'P-Value'])

outcome_variable = 'bad_order'

for var in df_cat:
        if var != outcome_variable:
            contingency_table = pd.crosstab(df[outcome_variable], df[var])

            chi2, p, _, _ = chi2_contingency(contingency_table)


            new_row = pd.DataFrame({'Variable': var, 'Chi-Squared': [chi2], 'P-Value': [p]})

            chi_squared_results = pd.concat([chi_squared_results, new_row], ignore_index=True)

            if p < 0.05:
              print(f"There is a significant association between {outcome_variable} and {var} (p-value = {p:.2f})")
            else:
              print(f"There is no significant association between {outcome_variable} and {var} (p-value = {p:.2f})")

#H0 there is no relathionship between the variables

chi_squared_results

In [ ]:
#Perfoming ANOVA TEST for mixed categorical and numerical values

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# List of numerical variables for the ANOVA tests
df_cuantitative = ['% completed orders user', 'order_value_usd', 'item_count', 't04_picking_time', 't05_cashier_time', 't06_requesting_rt_time', 'out_of_stock', 'distance_km', 'hora']

# Perform ANOVA for numerical variables
for num_var in df_cuantitative:
    formula = f'{num_var} ~ C(bad_order)'
    try:
        model = ols(formula, data=df).fit()
        anova_table = anova_lm(model)
        print(f"ANOVA table for {num_var} and bad_order:")
        print(anova_table)

        p_value = anova_table['PR(>F)'][0]
        if p_value < 0.05:
            print(f"There is a significant difference between the means of the groups defined by bad_order for {num_var} (p-value = {p_value:.2f})")
        else:
            print(f"There is no difference between the means of k groups")

        print("=" * 40)

    except Exception as e:
        print(f"Error for {num_var} and bad_order: {str(e)}")

#

# 4. Machine Learning

In [ ]:
# Feature engineering
df_quan

For this part we are going to start put the data in a standarization and onehot encoding so the data is ready to be inserted in the modeling. For it, we are going to use the Pipeline method

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin

class VariableSelector(BaseEstimator, TransformerMixin):
    def __init__(self,attribute_names):
        self.attribute_names = attribute_names

    def fit(self, X , y=None):
        return self

    def transform(self, X):
        return X[self.attribute_names]

In [ ]:
columns_quan = list(df_quan.columns)

In [ ]:
columns_quan

In [ ]:
#quantitative
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

quanti_pipeline = Pipeline(
    [
     ('selector', VariableSelector(columns_quan)),
     ('std_scaler', StandardScaler())
    ]
    )

In [ ]:
#It is being checked in the case of the categorical variables, which values can be apprved for a OHE method or label encoding

df_cat_oh = ['country','payment_method','city','vehicle_type','store_category','use_credit']
df_cat_le = ['district_name','brand_group']

In [ ]:
from sklearn.preprocessing import OneHotEncoder as OHE

cuali_pipeline_ohe = Pipeline(

  [
    ('selector',VariableSelector(df_cat_oh)),
    ('OHE_columns',OHE(sparse=False))

  ]

)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder as OE

cuali_pipeline_le =Pipeline(

                            [
                             ('selector',VariableSelector(df_cat_le)),
                             ('LE_columns', OE())
                            ]

)

In [ ]:
from sklearn.pipeline import FeatureUnion

full_pipeline =FeatureUnion(
    transformer_list=[
        ('num_pipeline', quanti_pipeline),
        ('ohe_pipeline',cuali_pipeline_ohe),
        ('le_pipeline',cuali_pipeline_le)
                      ]
)

Once that is defined the Pipeline, to do the adjustements on the data. It is going to be retrieved from the main dataset the y to be predicted

In [ ]:
x_df = full_pipeline.fit_transform(df)

In [ ]:
X = x_df
y = df['bad_order']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=42,shuffle=True,stratify = y)

Now that we splited our data, we will apply 3 models on our categorical outcome (Logistic regression, Classification Tree, Random Forest)

+ LOGISTICS REGRESSION

In [ ]:
#Logistic Regression Model Fitting

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(penalty = None, solver = 'newton-cholesky')
logreg.fit(X_train, y_train)

#Predicting the test set results
lr_pred = logreg.predict(X_test)

In [ ]:
#Calculating the accuracy
print('Accuracy of Logistic Regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

In [ ]:
#Checking crossvalidated performance
from sklearn.model_selection import cross_val_score
cv_score = cross_val_score(logreg, X_test, y_test)
print(f"average cross validated score : {np.mean(cv_score)}")

In [ ]:
#Logistic Regression model performance with Confusion Matrix
from sklearn.metrics import confusion_matrix, classification_report, ConfusionMatrixDisplay
confusion_matrix_lr = confusion_matrix(y_test, lr_pred, labels= logreg.classes_)
ConfusionMatrixDisplay(confusion_matrix_lr, display_labels = logreg.classes_).plot()
print(classification_report(y_test,lr_pred))

In [ ]:
from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score,roc_auc_score,cohen_kappa_score,roc_curve
accuracy_lr = accuracy_score(y_test, lr_pred)
precision_lr = precision_score(y_test, lr_pred)
sensitivity_lr = recall_score(y_test, lr_pred)
f1_lr = f1_score(y_test, lr_pred)

#ROC Curve
lr_pred_prob= logreg.predict_proba(X_test)
fpr, tpr, thresholds = roc_curve(y_test, lr_pred_prob[:,1])
lr_roc_auc = roc_auc_score(y_test, lr_pred_prob[:,1])


result_lr = pd.DataFrame([['Log. reg.',accuracy_lr, precision_lr, sensitivity_lr,f1_lr,lr_roc_auc]], columns=('model','accuracy','precision','sensitivity','f1','roc'))
result_lr

In [ ]:
plt.figure(figsize=(8, 6))
plt.plot(fpr, tpr, color='blue', lw=2, label=' Logit Regression - ROC curve (area = {:.2f})'.format(lr_roc_auc))
plt.plot([0, 1], [0, 1], color='black', lw=2, linestyle='--')
plt.xlim([0.0, 1])
plt.ylim([0.0, 1])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.legend(loc='lower center')
plt.show()

+ Decision Tree

In [ ]:
#Classification Tree Model Fitting

from sklearn.tree import DecisionTreeClassifier
# Initializing Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf.fit(X_train,y_train)

#Predicting on the test set
clf_pred = clf.predict(X_test)

In [ ]:
#Calculating the model accuracy, how often is the classifier correct ?
from sklearn.metrics import accuracy_score

print("Accuracy Decision Tree Classifier: {:.2f}".format(accuracy_score(y_test, clf_pred)))

In [ ]:
#Classification Tree Model performance
from sklearn.metrics import confusion_matrix, classification_report, ConfusionMatrixDisplay
confusion_matrix_clf = confusion_matrix(y_test, clf_pred, labels = clf.classes_)
ConfusionMatrixDisplay(confusion_matrix_clf, display_labels= clf.classes_).plot()
print(classification_report(y_test, clf_pred))

In [ ]:
from sklearn.tree import export_graphviz

export_graphviz(
 clf,
 out_file=("order_simple.dot"),
 feature_names=None,
 class_names=None,
 filled=True,
)

In [ ]:
!dot -Tpng hitters_simple.dot -o hitters_simple.png

In [ ]:
#from IPython.display import Image
#Image("order_simple.png")

In [ ]:
accuracy_clf = accuracy_score(y_test, clf_pred)
precision_clf = precision_score(y_test, clf_pred)
sensitivity_clf = recall_score(y_test, clf_pred)
f1_clf = f1_score(y_test, clf_pred)


#ROC Curve
clf_pred_prob= clf.predict_proba(X_test)
fpr, tpr, thresholds = roc_curve(y_test, clf_pred_prob[:,1])
clf_roc_auc = roc_auc_score(y_test, clf_pred_prob[:,1])


result_clf = pd.DataFrame([['decision tree',accuracy_clf, precision_clf, sensitivity_clf,f1_clf,clf_roc_auc]], columns=('model','accuracy','precision','sensitivity','f1','roc'))
result_clf

In [ ]:
plt.figure(figsize=(8, 6))
plt.plot(fpr, tpr, color='blue', lw=2, label='Tree Dec. -ROC curve (area = {:.2f})'.format(clf_roc_auc))
plt.plot([0, 1], [0, 1], color='black', lw=2, linestyle='--')
plt.xlim([0.0, 1])
plt.ylim([0.0, 1])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.legend(loc='lower center')
plt.show()

+ Random Forest

In [ ]:
#Random Forest Model Fitting

from sklearn.ensemble import RandomForestClassifier
# Initializing Random Forest Classifer object
rf = RandomForestClassifier()

# Train Random Forest Classifer
rf.fit(X_train, y_train)

#Predicting on the test set
rf_pred = rf.predict(X_test)

In [ ]:
#Calculating Random Forest model accuracy
accuracy_rf = accuracy_score(y_test, rf_pred)
print("Accuracy Random Forest Classifier: {:.2f}".format(accuracy_rf))

In [ ]:
#Random Forest Classifier model performance
confusion_matrix_rf = confusion_matrix(y_test, rf_pred, labels = rf.classes_)
ConfusionMatrixDisplay(confusion_matrix_rf, display_labels= rf.classes_).plot()
print(classification_report(y_test, rf_pred))

In [ ]:
accuracy_rf = accuracy_score(y_test, rf_pred)
precision_rf = precision_score(y_test, rf_pred)
sensitivity_rf = recall_score(y_test, rf_pred)
f1_rf = f1_score(y_test, rf_pred)


#ROC Curve
rf_pred_prob= rf.predict_proba(X_test)
fpr, tpr, thresholds = roc_curve(y_test, rf_pred_prob[:,1])
rf_roc_auc = roc_auc_score(y_test, rf_pred_prob[:,1])

result_rf = pd.DataFrame([['random forest',accuracy_rf, precision_rf, sensitivity_rf,f1_rf,rf_roc_auc]], columns=('model','accuracy','precision','sensitivity','f1','roc'))
result_rf


After checking model performance accuracy (counts of correct classification) we can assume that our best model is Random Forest Classifier with 0.93% of correctly predicted predictions

In [ ]:
plt.figure(figsize=(8, 6))
plt.plot(fpr, tpr, color='blue', lw=2, label='Rand. forest -ROC curve (area = {:.2f})'.format(rf_roc_auc))
plt.plot([0, 1], [0, 1], color='black', lw=2, linestyle='--')
plt.xlim([0.0, 1])
plt.ylim([0.0, 1])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.legend(loc='lower center')
plt.show()

In [ ]:
resultados = pd.concat([result_lr, result_clf,result_rf], axis=0)
resultados

Results:


> Metrics

+ Overall the accuracy between all the models seems to be high (between 86 and 92%) which meant that the models have been a great deal into predicting if the order was labeled as a good one or bad one.
+ Precision: However, for this exercise it is most interesting to predict only the bad orders, to which this metric is most important. As it can be revised, the random forest model is the one with the best result out of the three. Which means that of the total predicted true bad orders, the model have an 86% of good prediction

+ Sensitivity: However, all the models had a bad ratio in this metric. This metric indicates that the of all the True orders labeled as bad order, only ;in the best case; was predicted 30% of this cases. To make the model more fit, it will be used the methods for reduce the overfitting of the models.

# Tuning model

In [ ]:


estimators = list(range(2, 50, 5))
sens_rf_num_estimators = []
accu_rf_num_estimators = []

for n in estimators:
    rf = RandomForestClassifier(n_estimators=n, random_state=42)
    rf.fit(X_train, y_train)
    y_pred = rf.predict(X_test)
    sensitivity_rf = recall_score(y_test, rf_pred)
    accuracy_rf = accuracy_score(y_test, rf_pred)

    sens_rf_num_estimators.append(sensitivity_rf)
    accu_rf_num_estimators.append(accuracy_rf)

In [ ]:
# Plotting the results
plt.figure(figsize=(10, 6))
plt.plot(estimators, sens_rf_num_estimators, marker='o', linestyle='-', color='b')
plt.plot(estimators,accu_rf_num_estimators, marker='x', linestyle='-', color='r')
plt.title('Sensitivity vs. Number of Estimators')
plt.xlabel('Number of Estimators')
plt.ylabel('%')
plt.grid(True)
plt.show()

In [ ]:

train_scores = []
valid_scores = []
leaves = list(range(2,30))
for leaf in leaves :
    dtr = RandomForestClassifier(min_samples_leaf = leaf)
    dtr.fit(X_train, y_train)
    train_scores.append(dtr.score(X_train, y_train))
    valid_scores.append(dtr.score(X_test, y_test))

plt.figure(figsize=(10,8))
plt.plot(leaves, train_scores)
plt.plot(leaves, valid_scores)
plt.xlabel("minimum samples per leaf")
plt.ylabel("score values")
plt.legend(["training scores", "validation scores"])
plt.show()

In [ ]:
train_scores = []
valid_scores = []
depths = list(range(2,40))
for depth in depths :
    dtr = RandomForestClassifier(max_depth = depth)
    dtr.fit(X_train, y_train)
    train_scores.append(dtr.score(X_train, y_train))
    valid_scores.append(dtr.score(X_test, y_test))

plt.figure(figsize=(10,8))
plt.plot(depths, train_scores)
plt.plot(depths, valid_scores)
plt.xlabel("maximum depth")
plt.ylabel("score values")
plt.legend(["training scores", "validation scores"])
plt.show()

+ GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV

params = {'max_depth': list(range(2, 15)), 'min_samples_leaf': list(range(2,20))}

grid_search_cv = GridSearchCV(RandomForestClassifier(),
                              params,
                              verbose=1,
                              cv=3,
                              n_jobs=-1)

grid_search_cv.fit(X_train, y_train)

In [ ]:

best_tree_model = grid_search_cv.best_estimator_
best_tree_model

In [ ]:
best_tree_model.fit(X_train,y_train)
best_tree_model.score(X_test,y_test)

In [ ]:
rfo_pred = best_tree_model.predict(X_test)

In [ ]:
from sklearn.tree import export_graphviz
tree_to_visualize = best_tree_model.estimators_[0]

In [ ]:
from sklearn.tree import export_graphviz
import subprocess

export_graphviz(
    tree_to_visualize,
    out_file="optimal_tree.dot",
    feature_names=None,
    class_names=None,
    filled=True
)


subprocess.call(['dot', '-Tpng', 'optimal_tree.dot', '-o', 'optimal_tree.png'])

In [ ]:
from IPython.display import Image

Image("optimal_tree.png")

In [ ]:
accuracy_rfo = accuracy_score(y_test, rfo_pred)
precision_rfo = precision_score(y_test, rfo_pred)
sensitivity_rfo = recall_score(y_test, rfo_pred)
f1_rfo = f1_score(y_test, rfo_pred)


#ROC Curve
rfo_pred_prob= clf.predict_proba(X_test)
fpr, tpr, thresholds = roc_curve(y_test, rfo_pred_prob[:,1])
rfo_roc_auc = roc_auc_score(y_test, rfo_pred_prob[:,1])

result_rfo = pd.DataFrame([['optimal random forest',accuracy_rfo, precision_rfo, sensitivity_rfo,f1_rfo,rfo_roc_auc]], columns=('model','accuracy','precision','sensitivity','f1','roc'))
result_rfo

In [ ]:
plt.figure(figsize=(8, 6))
plt.plot(fpr, tpr, color='blue', lw=2, label='Rand. forest -ROC curve (area = {:.2f})'.format(rfo_roc_auc))
plt.plot([0, 1], [0, 1], color='black', lw=2, linestyle='--')
plt.xlim([0.0, 1])
plt.ylim([0.0, 1])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.legend(loc='lower center')
plt.show()

# Unsupervised Learning

In [ ]:
'''Importing the needed libraries and getting a basic idea on the df_quant to see what we are looking at'''
try:
    from fanalysis.pca import PCA
except:
    !pip install fanalysis
    from fanalysis.pca import PCA
display(df[df_quan].head(3))
display(df[df_quan].info())
D = df[df_quan]
p = D.shape[1]
n = D.shape[0]
D = df[df_quan]
X = D.values

In [ ]:
'''Step 1: Try PCA to reduce dimensionality'''
# instantiate acp object form PCA class
acp = PCA(std_unit=True,row_labels=D.index,col_labels=D.columns) #std_unit=True, doing standardized PCA)

# run PCA on X observed data
try:
    acp.fit(X)  # This will raise a ZeroDivisionError
except Exception as e:
    display(f"An error occurred: {e}")

In [ ]:
'''Step 2: Trouble shooting the error, which may indicate that there are columns that are zero'''
D_corr = D.corr()
ax = sns.heatmap(D_corr, annot=True, cmap='coolwarm', center=0,fmt='.1g',xticklabels='auto', yticklabels='auto',linewidth=.8,cbar_kws={"shrink": .8})
ax.tick_params(axis='both', which='both', labelsize=8)
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
'''
Step 3: Issue becomes clear that the 't06_requesting_rt_time' is the problematic one because apparently
after data cleaning, all the values we kept are zero, which makes sense given the value means the time it took for
a delivery personnel to be assigned to the order, which is expected to be swifty in any delivery app.

Solution here: get rid off such column and do it again
'''
display(D.columns[5])
D1 = D.drop(columns = [D.columns[5]])
X1 = D1.values
p1 = D1.shape[1]
n1 = D1.shape[0]
acp = PCA(std_unit=True,row_labels=D1.index,col_labels=D1.columns) #std_unit=True, doing standardized PCA)
acp.fit(X1)  # This will raise a ZeroDivisionError
display(acp.col_labels)
display(acp.eig_) # each lamda k is in the first array, and then each lamda k divided by the sum of lamda k
#(proportion of variance explained by k),
# aka the variance explained by each component, is in the second row.
# The third row is the cumulative variance.
'''Looking at the cumulative variance, the most variable with the most variance only took 22%
of the total variance in the quantitative columns'''
display(acp.eig_.shape)

In [ ]:
'''Step 4: determining the threshold'''

# first the main plot
fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(10,5))
ax[0].plot(range(1,p1+1),acp.eig_[0],".-")
ax[0].set_xlabel("Nb. of factors")
ax[0].set_ylabel("Eigenvalues")
ax[0].set_title("Scree Plot")

# add Kaiser's threshold line
ax[0].plot([1,p1+3],[1,1],"r--",linewidth=1)

# print explained variance plot


ax[1].plot(range(0,p1+1),np.append(0,acp.eig_[2]),".-")
ax[1].set_xlabel("Nb. of factors")
ax[1].set_ylabel("% of explained variance")
ax[1].set_title("Explained Variance")

'''According to the plot, I decided to choose 4 as the threshold'''

In [ ]:
# Applying Barlett's test of Sphericity
try:
    from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
except:
    !pip install factor_analyzer
    from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity

chi_square_value, p_value = calculate_bartlett_sphericity(X1)
print(chi_square_value, p_value)

In [ ]:
# Computing Karlis-Saporta-Spinaki threshold
# impor math package
import math

#seuil de Karlis-Saporta-Spinaki
kss = 1+2*math.sqrt((p1-1)/(n1-1))
print(f"Karlis-Saporta-Spinaki threshold: {kss:.3f}")

In [ ]:
# Broken sticks method
# threshold for the broken sticks
b = np.flip(np.cumsum(1/np.arange(p1,0,-1)))
print(f"thresholds for the broken sticks: {b}")

# plot eigenvalues
fig, ax = plt.subplots(figsize=(5,5))
ax.plot(range(1,p1+1),acp.eig_[0],".-")
ax.set_xlabel("Nb. if factors")
ax.set_ylabel("Eigenvalues")
plt.title("Eigenvalues and broken sticks thresholds")

# add broken sticks thresholds
ax.plot(range(1,p1+1),b,"r--",linewidth=1)

plt.show()

In [ ]:
'''Step 5: Variable representation'''
print(pd.DataFrame(acp.col_coord_[:,:4],index=D1.columns, columns=['F1','F2','F3','F4']))

In [ ]:
# Correlations circle
acp.correlation_circle(num_x_axis=1,num_y_axis=2, figsize=(5,5))
acp.correlation_circle(num_x_axis=3,num_y_axis=4, figsize=(5,5))
'''Interpretation of the two dimensions'''
'''Three variables have a quite negative correlation with Dim 1, which are item_count, picking_time
and cashier_time. This means the speed the store can get those orders ready, which, unsurprisingly, also partially
comes down to the size of the order. There is clearly a size effect in this dimension'''
'''Two variables have a quite negative correlation with Dim 2, which are distance_km and order_value_USD. This means
that whether the order is cheap and within a shorter distance, most likely being some everyday shopping needs versus
some more expensive order traveling a longer distance. This shows a shape effect while Dim 1 shows a size effect'''
'''Two variables have a quite strong positive correlation with Dim 3, namely 'hora' which means hour, meaning the
time in the day, and 'out_of_stock'. This indicates that this axis talks about a general time variation, since the
early an order is placed, the less likely that the specific item a customer wants would be sold out.'''
'''The fourth dimension has a very high correlation on '% completed orders user' which could just be interpreted as
that specific variable.'''

In [ ]:
# Cos² if the variables on the two first factors
print(pd.DataFrame(acp.col_cos2_[:,:4],index=D1.columns, columns=['F1','F2','F3','F4']))

In [ ]:
# Cumulated Cos² on the two first factors
print(pd.DataFrame(np.cumsum(acp.col_cos2_[:,:4],axis=1),index=D1.columns, columns=['F1','F2',"F3",'F4']))

In [ ]:
# Contributions of each variable on the two first factors (in %)
print(pd.DataFrame(acp.col_contrib_[:,:4],index=D1.columns, columns=['F1','F2',"F3",'F4']))

In [ ]:
# chart of the individuals
acp.mapping_row(num_x_axis=1,num_y_axis=2,figsize=(7,7))

In [ ]:
# chart of the individuals
acp.mapping_row(num_x_axis=3,num_y_axis=4,figsize=(7,7))
'''From this factor map, we can see clearly that if we use Dim 3 and Dim 4 as our x1 and x2 axis and plot the data
points, there is a CLEAR tendency that different clusters are formed likely due to the variance introduced by
different rows, aka different groups of the customers behaving differently'''

In [ ]:
# creating a new data frame with the row coordinates of F1, F2, F3 and F4
df_row_coord = pd.DataFrame(np.cumsum(acp.row_coord_[:,:4],axis=1),index=D1.index, columns=['F1','F2','F3',"F4"])
df_row_coord.head(5)

In [ ]:
mask = df_row_coord['F1'] == df_row_coord['F1'].min()
df_row_coord.loc[df_row_coord[mask].index, :]

In [ ]:
'''Clustering'''
'''Plotting them one axis by another first'''
sns.pairplot(df_row_coord)

In [ ]:
df_row_coord1 = df_row_coord.copy()
if df_row_coord1.shape[0] == y.shape[0]:
   df_row_coord1['bad_order'] = y
    sns.pairplot(df_row_coord1, hue='bad_order')

In [ ]:
display(df_row_coord.head(3))
display(df_row_coord1.head(3))
display(df_row_coord1['bad_order'].mean())

In [ ]:
'''clustering with K-Means'''
from sklearn.cluster import KMeans

X = df_row_coord.values

km = KMeans(n_clusters = 2, init = 'k-means++' , n_init = 10, max_iter = 300, random_state = 0, tol = 0.0001)

y_km = km.fit_predict(X)

In [ ]:
km.labels_
from collections import Counter
unique_counts = Counter(km.labels_)
display(unique_counts)

In [ ]:
#Added the clustering info to the dataframe, but it won't affect the original X since X was done in the front as
#X = df_row_coord.values
df_row_coord['Y_KMean'] = y_km
sns.pairplot(df_row_coord, hue='Y_KMean')

In [ ]:
from sklearn.cluster import DBSCAN
eps_list = [0.2, 0.5, 1, 2, 2.2, 2.5, 2.7, 3, 4, 5]
for eps_ in eps_list
    DBSCAN_model = DBSCAN(eps = eps_, min_samples=5, metric='euclidean')
    DBSCAN_model.fit_predict(X)
    y_DBSCAN = DBSCAN_model.labels_
    df_row_coord['Y_DBSCAN'] = y_DBSCAN
    display(df_row_coord['Y_DBSCAN'].value_counts())
    sns.pairplot(df_row_coord.drop(columns = ['Y_KMean']), hue='Y_DBSCAN')